body {
  margin: 0;
  margin-top: 5vw;
  font-family: sans-serif;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 9vw;
  font-size: 3em;
  font-family: 'Playfair', serif;
}

h2 {
  font-size: 2em;
  font-family: 'Playfair', serif;
}

h3 {
  font-weight: bolder;
}

section {
  margin-top: 5vw;
  margin-left: 24vw;
  margin-right: 24vw;
}

img {
  display: block;
  margin: 0;
  width: 23vw;
}

p {
    font-family: 'Fira Sans';
    margin-left: -1vw;
}

table {
  border-spacing: 1vw;
  margin: auto;
}

footer {
  margin: 5vw;
  margin-top: 10vw;
}

.preload {
  visibility: hidden;
}

.fitWidth {
  width: 47vw;
}

#textright {
  text-align: right;
  margin-right: 3vw;
}

#CV {
  background:linear-gradient(to bottom, transparent 15%, #53c68c 15% 85%, transparent 85%);
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: -1vw;
}

#algorithms {
  margin-left: 0vw;
  margin-right: 0vw;
  background:linear-gradient(to bottom, #eeeeee 93%, #e8f2ff 93% 95%, #eeeeee 95%);
}

#wide {
  width: 50vw;
}

#skinny {
  width: 25vw;
}

#bold {
  font-weight: bold;
}

#tall {
  line-height: 45px;
  margin-left: 5vw;
}
