body {
  margin: 0;
  margin-top: 5vw;
  font-family: sans-serif;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 9vw;
  font-size: 3em;
  font-family: 'Playfair', serif;
}

h2 {
  font-size: 2em;
}

section {
  margin-top: 5vw;
  margin-left: 24vw;
  margin-right: 24vw;
}

.preload {
  visibility: hidden;
}

.fitWidth {
  width: 47vw;
}

#textright {
  text-align: right;
  margin-right: 4vw;
}

#CV {
  background:linear-gradient(to bottom, transparent 15%, #53c68c 15%, #53c68c 85%, transparent 85%);
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: -1vw;
}

#algorithms {
  margin-left: 0vw;
  margin-right: 0vw;
  background-color: #eeeeee;
}

#bumpUp {
  padding-bottom: 3vw;
}

#bumpDown {
  padding-top: 3px;
}

#bumpDown2 {
  padding-top: 4vw;
}

img {
  display: block;
  margin: 0;
  width: 23vw;
}

p {
    font-family: 'Fira Sans';
}

#wide {
  width: 50vw;
}

#skinny {
  width: 25vw;
}

table {
  border-spacing: 1vw;
  margin: auto;
}

footer {
  margin: 5vw;
  margin-top: 10vw;
}
