a:link {
  color: #3399cc;
}

body {
  margin: 0;
  margin-top: 15px;
  font-family: sans-serif;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 3em;
  font-family: 'Playfair Display', serif;
}

h2 {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
}

h3 {
  font-weight: bolder;
}

section {
  margin-top: 5vh;
  margin-left: 24vw;
  margin-right: 24vw;
}

img {
  display: block;
  margin: 0;
  width: 23vw;
}

p {
    font-family: 'Fira Sans';
    margin-left: -1vw;
}

 p poet {
  font-family: 'Playfair Display', serif;
}

table {
  border-spacing: 1vw;
  margin: auto;
}

footer {
  margin: 5vw;
  margin-top: 10vw;
}

.preload {
  visibility: hidden;
}

.fitWidth {
  width: 47vw;
}

.wide {
  width: 50vw;
}

.skinny {
  width: 25vw;
}

.textright {
  text-align: right;
  margin-right: 3vw;
}

#CV {
  background:linear-gradient(to bottom, transparent 15%, #53c68c 15% 85%, transparent 85%);
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: -1vw;
}

#algorithms {
  margin-left: 0vw;
  margin-right: 0vw;
  background:linear-gradient(to bottom, #eeeeee 92%, #e8f2ff 92% 95%, #eeeeee 95%);
}

#canvas {
  width : 98.6vw;
  height: 165px;
  position: absolute;
  top: 0;
  left: 0;
}

#education {
  margin-right: 5vw;
}

@media only screen and (max-device-width: 480px) {
  section {
    margin-top: 5vh;
    margin-left: 12vw;
    margin-right: 12vw;
  }
}
